<div class="search">
    <h1>Search Flights</h1>
    <div class="search__routes">
        <div class="search__routes__box">
            <h4>Origin:</h4>
            <select [(ngModel)]="origin">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let origin of origins" [value]="origin">{{origin}}</option>
            </select>
        </div>
        <div class="search__routes__box">
            <h4>Destination:</h4>
            <select [(ngModel)]="destination">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let destination of destinations" [value]="destination">{{destination}}</option>
            </select>
        </div>
    </div>
    <div class="search__routes">
        <div class="search__routes__box">
            <h4> Currency:</h4>
            <select [(ngModel)]="currency">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
            </select>
        </div>
        <div class="search__routes__box">
            <h4>Type:</h4>

            <select [(ngModel)]="type">
                <option value="" disabled selected>Select</option>
                <option value="oneway">One Way</option>
                <option value="round">Round Trip</option>
            </select>
        </div>
    </div>
    <div class="search__select">
        <div class="search__select__buttons">
            <button (click)="displaySearchedFlights()">Search</button>
            <button (click)="displayAllFlights()">All available flights</button>
        </div>
        <label>
            <input type="checkbox" [(ngModel)]="allowStops">
            Allow stops
        </label>
    </div>


</div>
<div class="result">
    <h2>Vuelos disponibles</h2>
    <table *ngIf="displayFlights">
        <thead>
            <tr>
                <th>Flight Carrier</th>
                <th>Flight Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flights">
                <td>{{flight.transport.flightCarrier}}</td>
                <td>{{flight.transport.flightNumber}}</td>
                <td>{{flight.origin}}</td>
                <td>{{flight.destination}}</td>
                <td>USD: {{flight.price}}</td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngFor="let journey of journeys;  let i = index">
        <h3 class="result__option">Option {{ i + 1 }}</h3>
        <div *ngIf="displayJourneys">
            <h3>Flight</h3>
            <table>
                <thead>
                    <tr>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>{{journey.origin}}</strong></td>
                        <td><strong> {{journey.destination}}</strong></td>
                        <td>{{currency}} {{journey.price}} </td>
                    </tr>
                </tbody>
            </table>
            <h3>Routes</h3>
            <table>
                <thead>
                    <tr>
                        <th>Flight Carrier</th>
                        <th>Flight Number</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of journey.flights">
                        <td>{{ flight.transport.flightCarrier }}</td>
                        <td>{{ flight.transport.flightNumber }}</td>
                        <td>{{ flight.origin }}</td>
                        <td>{{ flight.destination }}</td>
                        <td>{{currency}} {{ flight.price }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

    <div *ngIf="displayJourneys && journeys.length === 0">
        No se encontraron vuelos.
    </div>

</div>